@import '../../style/default.less';

.menu-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: stretch;
  height: 77px;
  font-size: @fontD;

  &::before {
    position: absolute;
    content: '';
    height: 1px;
    width: 143%;
    background: @ColorG;
    left: -21.5%;
    top: -4px;
  }

  &.ant-menu-horizontal .ant-menu-item-active,
  &.ant-menu-horizontal .ant-menu-item-selected {
    border-top: 4px solid @ColorD;
    border-bottom: 2px solid @ColorF;
    margin-top: -4px;
  }

  .ant-menu-item {
    position: relative;
    flex-grow: 1;
    text-align: center;
    padding: 1.5% 0;
    min-width: 90px;

    &:nth-child(2)::before,
    &::after {
      position: absolute;
      content: '';
      width: 1px;
      top: 0;
      bottom: 0;
      right: 0;
      background: @ColorG;
    }

    &:nth-child(2)::before {
      right: unset;
      left: 0;
    }
  }
}
