@import '../../style/default.less';

.menu-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: stretch;
  height: 55px;
  font-size: @fontD;

  &::before {
    position: absolute;
    content: '';
    height: 1px;
    width: 143%;
    background: @ColorG;
    left: -21.5%;
    top: -4px;
  }

  &.ant-menu-horizontal .ant-menu-item,
  &.ant-menu-horizontal .ant-menu-item-active,
  &.ant-menu-horizontal .ant-menu-item-selected,
  &.ant-menu-horizontal .ant-menu-submenu-active {
    border-bottom: 2px solid @ColorF;
    a {
      color: @ColorN;
    }
    .active {
      color: @ColorD;
    }
    .active::after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      right: 0;
      border-top: 4px solid @ColorD;
      border-bottom: 2px solid @ColorF;
      margin-top: -4px;
    }
  }

  &.ant-menu-horizontal .ant-menu-item-active {
    a {
      color: @ColorD;
    }
    a::after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      right: 0;
      border-top: 4px solid @ColorD;
      border-bottom: 2px solid @ColorF;
      margin-top: -4px;
    }
  }

  .ant-menu-item,
  .ant-menu-submenu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    padding: 1.5% 0;
    min-width: 90px;

    &:nth-child(2)::before,
    &::after {
      position: absolute;
      content: '';
      width: 1px;
      top: 0;
      bottom: 0;
      right: 0;
      background: @ColorG;
    }

    &:nth-child(2)::before {
      right: unset;
      left: 0;
    }
  }
}
