.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  overflow-x: hidden;
}

/*滚动条整体样式*/
::-webkit-scrollbar{
  width: 10px;/*竖向滚动条的宽度*/
  height: 0px;/*横向滚动条的高度*/
}
::-webkit-scrollbar-thumb{/*滚动条里面的小方块*/
  background: rgba(102, 102, 102, 0.8);
  border-radius: 8px;
}
::-webkit-scrollbar-track{/*滚动条轨道的样式*/
  background: rgba(204, 204, 204, 0);
  border-radius: 8px;
}
